body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#bitcoins {
    text-align: center;
    margin-bottom: 20px;
}

#miners {
    margin-top: 50px;
}

button {
    margin-top: 10px;
}
